MYSQL_ROOT_PASSWORD = #Self-Explanatory.
MYSQL_DATABASE = #MariaDB Database name.
MYSQL_USER = #Self-Explanatory.
MYSQL_PASSWORD = #Self-Explanatory.
PMA_HOST = #name of the docker image service for PHPMyAdmin to monitor (in the 'docker-compose.yaml' file)